@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

html {
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

body {
  margin: 0;
}

.head-container {
  width: 100vw;
  z-index: 100;
}

#nav-btn {
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

#menu {
  font-size: 3rem;
  z-index: 100;
  position: fixed;
  color: #ec5242;
}

#close {
  position: fixed;
  display: none;
  color: white;
  z-index: 100;
  cursor: pointer;
  font-size: 3rem;
}

#desk-nav {
  display: none;
}

.nav-list {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  height: 100vh;
  background: #3c3a39;
  color: #fff5e1;
  list-style: none;
  margin: 0;
  padding-top: 20%;
}

.show {
  transform: translateX(0);
}

.nav-list-items {
  border-bottom: 1px solid #6f6c6b;
  width: 80%;
  padding-top: 5%;
  margin-top: 2rem;
}

.nav_a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  text-decoration: none;
}

#mob-nav {
  background-color: gainsboro;
  border: none;
}

section {
  padding: 2rem 1rem;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#welcome-pg {
  margin: 0;
  background-repeat: no-repeat;
  position: relative;
}

#welcome-pg::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(Images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.welcome-pg-contain {
  position: inherit;
}

.wel-msg1 {
  background: url(Images/textbg.png) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
}

.wel-msg2 {
  background: url(Images/textbg.png) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  font-size: 32px;
  margin-top: 0;
  font-weight: 750;
}

.welcome-p {
  color: black;
  border: 1px solid white;
  padding: 1rem;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
}

.date-place {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date1 {
  color: #000;
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

.loca1 {
  color: #000;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  font-weight: 600;
  max-width: 70%;
}

#main-eve {
  display: grid;
  background: #000 repeating-linear-gradient(45deg, #111 2px, #222 3px, #222 4px, #111 7px);
  color: white;
  font-family: 'Lato', sans-serif;
}

.prog-title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #ec5242;
}

.line-br {
  width: 40px;
  background-color: #ec5242;
  border: 1px solid #ec5242;
}

#event-list {
  display: grid;
  justify-items: center;
}

.eve-li-item {
  display: flex;
  background-color: rgb(195, 199, 196, 0.3);
  justify-content: space-between;
  margin-top: 1rem;
}

.eve-li-icon.material-icons {
  font-size: 32px;
  align-self: center;
  margin: 0 1rem;
}

.eve-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eve-title {
  color: #ec5242;
}

.eve-p {
  max-width: 70%;
}

.sq-btn {
  background-color: #ec5242;
  margin: 2rem 2.5rem;
  height: 80%;
  border: none;
  color: white;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 23px;
}

#presenters {
  display: grid;
}

.present-title {
  text-align: center;
  font-size: 32px;
}

#presenter-cards {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.presenter {
  display: flex;
  margin-top: 1rem;
}

.pres-img {
  height: 120px;
  width: 120px;
  padding-left: 1rem;
  padding-top: 1rem;
  background-image: url(Images/halftone.jpg);
  background-repeat: no-repeat;
  background-size: 5rem;
}

.pres-info {
  margin-left: 1rem;
}

.pres-name {
  margin-bottom: 0;
  font-weight: 600;
}

.pres-pos {
  margin: 0;
  color: #ec5242;
  font-weight: 600;
}

.pres-p {
  margin: 0;
  font-size: 16px;
}

#sponsors {
  display: grid;
  justify-content: center;
  background-color: #3b3a38;
}

.sponsor-title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.spon-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.spon {
  margin: 1rem 2rem;
  justify-self: center;
}

footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.bottom-logo {
  align-self: center;
}

.tm-msg p {
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

.tm-msg p:first-child {
  font-size: 24px;
}

@media (min-width: 1100px) {
  * {
    font-family: 'Lato', sans-serif;
  }

  #logo-img {
    display: flex;
    align-self: center;
    margin-left: 6rem;
  }

  #mob-nav {
    display: none;
  }

  .head-container {
    position: fixed;
    width: 100vw;
  }

  .show {
    transform: translateX(-100%);
  }

  #desk-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: honeydew;
  }

  .desk-nav-list {
    display: flex;
    list-style-type: none;
  }

  .desk-nav-list-items {
    display: flex;
    align-items: center;
  }

  .nav_a {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: red;
    margin-right: 32px;
    text-decoration: none;
  }

  #welcome-pg {
    text-align: center;
  }

  .welcome-pg-contain {
    max-width: 60%;
    text-align: left;
    margin-left: 8vw;
  }

  .wel-msg1 {
    font-size: 2.5rem;
  }

  .wel-msg2 {
    font-size: 5rem;
  }

  .welcome-p {
    width: 60%;
    font-size: 20px;
  }

  .date-place {
    align-items: flex-start;
  }

  .date1,
  .loca1 {
    text-align: left;
  }

  #main-eve {
    justify-items: center;
  }

  #event-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 75%;
    justify-items: end;
  }

  .eve-li-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
  }

  .eve-li-item:first-child {
    margin-left: 3rem;
  }

  .eve-li-icon.material-icons {
    padding: 1rem 0;
  }

  .eve-content {
    display: flex;
    flex-direction: column;
  }

  .eve-title {
    margin-top: 0;
  }

  .eve-p {
    width: 80%;
    margin: 0 0 2rem 0;
    font-size: 14px;
  }

  .sq-btn {
    width: 25rem;
    background: none;
    text-align: center;
    color: #ec5242;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 0;
    padding: 0;
  }

  #presenters {
    justify-content: center;
  }

  #presenter-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  #sponsors {
    padding: 0;
    justify-content: normal;
  }

  .spon-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
  }

  .spon {
    align-items: center;
  }

  footer {
    padding: 2rem 5rem;
    flex-direction: row;
    justify-content: center;
  }

  .tm-msg p {
    margin: 0 2rem;
  }
}
